.projects {
    width: 100%;
    min-height: 100vh;
    color: var(--main-font-color);
    padding-bottom: 3rem;
}

.projects header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 3rem 1.4rem;
}

@media (max-width: 576px) {
    .projects header {
        flex-direction: column;
        justify-content: center;
        margin: 0 1rem 1rem;
    }
}

.projects h2 {
    width: 7rem;
}

@media (max-width: 576px) {
    .projects h2 {
        width: fit-content;
        margin-bottom: 1rem;
    }
}

.projects h2 span {
    color: var(--yellow-color);
}

.projects main {
    position: relative;
    display: flex;
    gap: 1rem;
}

.projects main > button {
    transition: transform var(--transition-duration);
}

.projects main > button:hover {
    transform: scale(1.15);
}

@media (max-width: 768px) {
    .projects main > button {
        display: none;
    }
}

.projects main > button svg {
    fill: var(--yellow-color);
    font-weight: 900;
}

.projects main > button:disabled svg {
    opacity: 0.5;
}

.projects main > button:first-of-type {
    left: 1rem;
    top: 50%;
}

.projects main > button:last-of-type {
    right: 1rem;
    top: 50%;
}

.projects main .projectsContainer {
    width: calc(100vw - 18rem);
    max-width: 80rem;
    height: 35rem;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1rem;
    margin-bottom: 2rem;
    margin-inline: auto;
}

.projects main .projectsContainer > div {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 1rem;
    transition: var(--transition-duration);
    padding-inline: 1rem;
}

@media (max-width: 768px) {
    .projects main .projectsContainer {
        width: calc(100vw - 10rem);
    }

    .projects main .projectsContainer > div {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 576px) {
    .projects main .projectsContainer {
        width: 100vw;
    }
}
