.projectItem {
    width: 100%;
    height: 15rem;
    /* min-height: 15rem; */
    border-radius: 1px;
    box-shadow: var(--shadow-md);
    overflow: hidden;
    margin-inline: auto;
    border-radius: 0.4rem;
    border: 3px solid var(--yellow-color);
    padding: 0.6rem;
}

.projectItem figure {
    width: 100%;
    height: 100%;
    transition: var(--transition-duration);
    position: relative;
    overflow: hidden;
}

.projectItem figure picture * {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.projectItem figure figcaption {
    width: 100%;
    height: 100%;
    background-color: var(--backdrop-color);
    backdrop-filter: blur(2px);
    color: var(--light-color);
    padding: 1rem;
    position: absolute;
    left: 0;
    top: 100%;
    transition: var(--transition-duration);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.projectItem figure figcaption h3 {
    font-size: 1.5rem;
}

.projectItem figure figcaption .description {
    font-size: 0.9rem;
    margin-block: 0.5rem 0.8rem;
}

.projectItem figure figcaption > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.projectItem figure figcaption a {
    border: var(--border-sm) solid var(--light-color);
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
    font-size: 0.8rem;
    transition: var(--transition-duration);
}

.projectItem figure figcaption a:hover {
    transform: translateY(-0.3rem);
}

.projectItem figure:hover figcaption {
    top: 0;
}
