.section {
    max-width: 100rem;
    padding: 0 4rem 0 7rem;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 576px) {
    .section {
        padding: 3rem 1rem 0;
    }
}
